<div class="content-wrapper buffer-both text-center">
  <div class="buffer-both">
    <h1 class="title-medium">Наши #хэштеги</h1>
  </div>

  <div class="container">
    <div class="column-1-3">
      <h4 class="buffer-both">#Вопросы</h4>
      <ul>
        <% for tag in @q_tags %>
          <li class="form-error-message"><%= tag %></li>
        <% end %>
      </ul>
    </div>
    <div class="column-1-3">
      &nbsp;
    </div>
    <div class="column-1-3">
      <h4 class="buffer-both">#Ответы</h4>
      <ul>
        <% for tag in @a_tags %>
          <li class="form-error-message"><%= tag %></li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
